---
import { getCollection } from 'astro:content';

import BaseLayout from '../../layouts/BaseLayout.astro';
import MorePost from '../../components/MorePost.astro';

import { formatBlogPost } from '../../js/utils';

export async function getStaticPaths() {
  const allPosts = await getCollection('posts');

  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
    },
  }));
}

const allPosts = await getCollection('posts');
const formattedPosts = formatBlogPost(allPosts);

const { page } = Astro.props;
---

<BaseLayout>
  <h1>All Posts</h1>
  {
    formattedPosts.map((page) => (
      <MorePost
        date={page.data.date}
        href={page.slug}
        title={page.data.title}
        description={page.data.description}
      />
    ))
  }
</BaseLayout>

<style>
  h1 {
    margin-bottom: 2rem;
  }

  div {
    padding-top: 1rem;
  }

  .test {
    display: none;
  }
</style>
