button {
  margin-top: 1rem;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.02);
}

button:focus {
  transform: scale(1.02);
  outline: 2px solid white !important;
  outline-offset: 4px;
}