@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-1: 242 242 247;
    --gray-2: 229 229 234;
    --gray-3: 209 209 214;
    --gray-4: 199 199 204;
    --gray-5: 174 174 178;
    --gray-6: 142 142 147;
    --gray-7: 99 99 102;
    --gray-8: 72 72 74;
    --gray-9: 58 58 60;
    --gray-10: 44 44 46;
    --gray-11: 28 28 30;

    --background: var(--gray-1);
    --content: var(--gray-11);
    
    --red: 255 49 48;
    --orange: 255 149 0;
    --yellow: 255 204 0;
    --green: 40 205 65;
    --mint: 0 199 190;
    --teal: 89 173 196;
    --cyan: 85 190 240;
    --blue: 0 122 255;
    --indigo: 88 86 214;
    --purple: 175 82 222;
    --pink: 255 45 85;
    --brown: 162 132 94;
  }
}

::selection {
  background-color: rgb(var(--content));
  color: rgb(var(--background));
}

[href] {
  color: rgb(var(--blue));
  text-decoration: underline;
}

/* figcaption {
  @apply text-center text-sm opacity-75;
}

li {
  @apply list-disc;
}

pre {
  @apply my-4;
}

img {
  @apply max-w-full;
}

@layer base {
  .prose a {
    @apply text-skin-blue underline dark:text-skin-darkCyan;
  }

  a {
    @apply text-skin-blue underline dark:text-skin-darkCyan;
  }

  ::selection {
    @apply bg-skin-blue text-skin-gray6;
  }

  .dark ::selection {
    @apply bg-skin-darkCyan text-skin-darkGray6;
  }
}

@layer components {
  .exempt-link {
    @apply text-neutral-950 no-underline dark:text-neutral-50;
  }
} */
