.name {
  font-size: 3.5rem;
}

.button {
  all: unset;
  cursor: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  background: none !important;
  background-color: transparent;
  border: none;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent;
  transform: scale(1);
}

.button:hover {
  transform: scale(1);
}

.button:focus {
  outline: none;
  transform: scale(1);
}

@media (min-width: 40rem) {
  .name {
    font-size: 5.5rem;
  }
}