---
import BaseLayout from "src/layouts/BaseLayout.astro";

const pageTitle = "uh oh";
---

<BaseLayout pageTitle={pageTitle} category="404">
  <div class="my-36 grid h-24 justify-center text-center">
    <img
      class="mx-auto mb-4"
      src="/togepi.gif"
      alt="Togepi apologizing profusely."
    />
    <p>This page isn't available. Sorry.</p>
  </div>
</BaseLayout>
