---
import BaseLayout from "@/layouts/BaseLayout.astro";

const category = "404";
const pageTitle = "404: Page Not Found";
---

<BaseLayout category={category} pageTitle={pageTitle}>
  <div class="my-44 h-44 justify-center text-center">
    <img
      class="mx-auto mb-4"
      src="/togepi.gif"
      alt="Togepi apologizing profusely."
    />
    <p class="font-mono text-textVariant">404: Page Not Found</p>
  </div>
</BaseLayout>
