---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Trevor Lee | Homepage";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="mb-36 grid h-24 justify-center text-center">
    <img
      class="mx-auto"
      src="/pokemon/pikachu.gif"
      alt="Pikachu apologizing profusely."
    />
    <h1 class="title">404 Error</h1>
    <p>This page isn't available. Sorry.</p>
    <a class="mt-4" href="/">Go Home</a>
  </div>
</BaseLayout>
