---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Trevor Lee | Homepage";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="my-36 grid h-24 justify-center text-center">
    <img
      class="mx-auto mb-4"
      src="/togepi.gif"
      alt="Togepi apologizing profusely."
    />
    <p>This page isn't available. Sorry.</p>
  </div>
</BaseLayout>
