---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="About me, Trevor Lee">
  <p class="py-16">
    I'm a software developer from Vancouver, Canada. I enjoy designing and
    building accessible, inclusive web applications.
  </p>
</BaseLayout>
