---
import BaseLayout from "src/layouts/BaseLayout.astro";
import { Image } from "astro:assets";

import Stopwatch from "@components/Stopwatch.astro";

import profilePicture from "@assets/me-with-roxy.webp";
---

<BaseLayout pageTitle="About" pageSlug="/about">
  <div class="mx-auto max-w-screen-md py-16 text-center">
    <Image
      src={profilePicture}
      format="avif"
      quality={"med"}
      alt="Young me with my dog Roxy."
      class="mx-auto max-w-xs"
    />
    <div class="mx-auto max-w-xs p-4">
      <Stopwatch />
    </div>
  </div>
</BaseLayout>
