---
import BaseLayout from "src/layouts/BaseLayout.astro";
import {
  DescriptionDetails,
  DescriptionList,
  DescriptionTerm,
} from "@components/ui/description-list";
import { Icon } from "astro-icon/components";

const pageTitle = "Trevor Lee | About";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="mt-16 sm:mt-20">
    <h1 class="text-xl font-semibold">Trevor Lee</h1>
    <span class="text-sm text-textVariant">Front-End Developer</span>
    <span class="mt-4 block text-textVariant"
      >Building UIs with React since 2020. Passionate about interface design and
      attention to detail, striving to create great experiences on the web. From
      Vancouver, Canada.</span
    >
  </section>
  <section class="mt-12">
    <DescriptionList>
      <DescriptionTerm className="animate-up">Email</DescriptionTerm>
      <DescriptionDetails className="animate-up flex items-center gap-1"
        ><a href="mailto:trevortylerlee@gmail.com" class="link"
          >trevortylerlee@gmail.com</a
        ><Icon name="external" /></DescriptionDetails
      >

      <DescriptionTerm className="animate-up">Phone</DescriptionTerm>
      <DescriptionDetails className="animate-up flex items-center gap-1"
        ><a href="tel:+17782353815" class="link">+1 778 235 3815</a><Icon
          name="external"
        /></DescriptionDetails
      >

      <DescriptionTerm className="animate-up">GitHub</DescriptionTerm>
      <DescriptionDetails className="animate-up flex items-center gap-1"
        ><a href="https://github.com/trevortylerlee" class="link"
          >@trevortylerlee</a
        ><Icon name="external" /></DescriptionDetails
      >

      <DescriptionTerm className="animate-up">LinkedIn</DescriptionTerm>
      <DescriptionDetails className="animate-up flex items-center gap-1"
        ><a href="https://www.linkedin.com/in/trevortylerlee/" class="link"
          >@trevortylerlee</a
        ><Icon name="external" /></DescriptionDetails
      >

      <DescriptionTerm className="animate-up">Resume</DescriptionTerm>
      <DescriptionDetails className="animate-up flex items-center gap-1"
        ><a href="/trevor-lee-resume.pdf" class="link">Download</a><Icon
          name="download"
        /></DescriptionDetails
      >

      <DescriptionTerm className="animate-up">Threads</DescriptionTerm>
      <DescriptionDetails className="animate-up flex items-center gap-1"
        ><a href="https://www.threads.net/@trevortylerlee" class="link"
          >@trevortylerlee</a
        ><Icon name="external" /></DescriptionDetails
      >
    </DescriptionList>
  </section>
</BaseLayout>
