---
import BaseLayout from "src/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import profilePicture from "@assets/me-with-roxy.webp";
import Stopwatch from "@components/Stopwatch.astro";
---

<BaseLayout pageTitle="About" pageSlug="/about">
  <div class="mx-auto max-w-screen-md pb-12 pt-16 text-center">
    <Image
      src={profilePicture}
      format="avif"
      quality={"med"}
      alt="Young me with my dog Roxy."
      class="mx-auto max-w-xs"
    />
    <div class="mx-auto max-w-xs p-4 font-mono">
      <Stopwatch />
      ago
    </div>
  </div>
  <br />
  <span class="flex items-baseline justify-evenly">
    <img
      src="https://img.pokemondb.net/sprites/black-white/anim/back-normal/turtwig.gif"
      alt="Turtwig"
      class="relative top-7 h-[43px] w-[34px]"
    />
    <img
      src="https://img.pokemondb.net/sprites/black-white/anim/normal/giratina-origin.gif"
      alt="Giratina"
      class=""
    />
  </span>
</BaseLayout>
