---
import BaseLayout from "src/layouts/BaseLayout.astro";
import Logo from "@components/Logo.astro";
---

<BaseLayout pageTitle="Contact" pageSlug="/contact" fullWidth>
  <span class="mt-12 flex flex-col">
    <a href="mailto: trevortylerlee@gmail.com">Email</a>
    <a href="https://github.com/trevortylerlee" class="">Github</a>
    <a href="https://www.linkedin.com/in/trevortylerlee/" class="">LinkedIn</a>
  </span>
</BaseLayout>
