---
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Contact" pageSlug="/contact">
  <span class="mt-12 flex flex-col">
    <a href="https://github.com/trevortylerlee" class="">Github</a>
    <a href="https://www.linkedin.com/in/trevortylerlee/" class="">LinkedIn</a>
    <a href="https://twitter.com/boogerbuttcheek">X (formerly Twitter)</a>
    <a href="mailto: t@trevortylerlee.com">t@trevortylerlee.com</a>
  </span>
</BaseLayout>
