---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import CopyButton from '../components/CopyButton';

const pageTitle = "Trevor Tyler Lee | Homepage"
---

<BaseLayout pageTitle={pageTitle}>
	<h1>Hi I'm Trevor :)</h1>
	<p>I'm a student at BCIT studying web development and digital design.</p>
	<p>I use things like TypeScript, Next.js, and NodeJS to create accessible, cross-platform web applications.</p>
	<Card
	title="Phished – Phish Friends & Family"
	desc="Led a team of seven to develop a production-ready cross-platform app"
	href="/posts/phished"
	src="/phished-screenshot.webp"
	/>
	<Card
	title="HTML Color Code Game"
	desc="An HTML color code matching game scored by calculating the difference between two RGB colors"
	href="/posts/color"
	src="/noisy-gradient.webp"
	alt='A tablet and smartphone are next to each other, each displaying a screenshot from the Phished website. The Phished logo, a fish with an envelope for a body, is displayed on the right with the Phished wordmark.'
	/>
	<hr />
	<div class="contact">
		<h2>Contact Me</h2>
		<CopyButton
			client:idle
			label="trevortylerlee@gmail.com"
			value="trevortylerlee@gmail.com"
		/>
		<CopyButton
			client:idle
			label="778-235-3815"
			value="7782353815"
		/>
	</div>
</BaseLayout>

<style>
	h1 {
		--bg-size: 200%;
		--color-one: hsl(220 90% 55%);
		--color-two: hsl(210 95% 60%);
		background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
		color: transparent;
		background-clip: text;
		-webkit-background-clip: text;

		font-size: 2.5rem;
	}

	@media (prefers-reduced-motion: no-preference) {
		h1 {
			animation: animation 4s infinite ease-in-out
		}

		@keyframes animation {
		0% {
			text-emphasis-style: '✦';
			background-position: 20% 0;
		}
		50% {
			text-emphasis-style: '✧';
			background-position: var(--bg-size) 0;
		}
		100% {
			text-emphasis-style: '✦';
			background-position: 0 0;

		}
	}
	}

	h2 {
		font-size: 1.75rem;
		text-align: center;
	}

	.contact {
		display: grid;
		justify-content: center;
		align-items: center;
		margin-bottom: 3rem;
	}

	@media (min-width: 40rem) {
		h1 {
			font-size: 4.25rem;
		}
		
		h2 {
			font-size: 3rem;
		}
	}
</style>