---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import CopyButton from '../components/CopyButton';

const pageTitle = "Trevor Tyler Lee | Homepage"
---

<BaseLayout pageTitle={pageTitle}>
	<h1 class='name'>TREVOR LEE</h1>
	<p>I'm a student at BCIT studying web development and digital design.</p>
	<p>I use things like TypeScript, Next.js, and NodeJS to create accessible, cross-platform web applications.</p>
	<Card
	title="Phished – Phish Friends & Family"
	desc="Protect people you care about from phishing attacks by phishing them yourself"
	href="/posts/phished"
	src="/phished-screenshot.webp"
	/>
	<Card
	title="HTML Color Name Game"
	desc="An HTML color name matching challenge scored by calculating the difference between two colors"
	href="/posts/color"
	src="/noisy-gradient.webp"
	alt='A tablet and smartphone are next to each other, each displaying a screenshot from the Phished website. The Phished logo, a fish with an envelope for a body, is displayed on the right with the Phished wordmark.'
	/>
	<Card
	title="Creative Work & Other Stuff"
	desc=""
	href="/posts/design"
	src="/creative-work.png"
	alt='The words "Creative Work", with a scribbled arrow aimed at the words "& Other Stuff".'
	/>
	<hr />
	<div class="contact">
		<h2>Contact Me</h2>
		<CopyButton
			client:idle
			label="trevortylerlee@gmail.com"
			value="trevortylerlee@gmail.com"
		/>
		<CopyButton
			client:idle
			label="778-235-3815"
			value="7782353815"
		/>
	</div>
</BaseLayout>

<style>
	h1 {
		font-size: 3rem;
		cursor: default;	}

	@media (prefers-reduced-motion: no-preference) {
		h1:hover {
		background-image: linear-gradient(140deg, rgba(252,50,254,1) 15%, rgba(255,59,0,1) 30%, rgba(241,255,33,1) 45%, rgba(73,227,253,1) 60%, rgba(51,254,4,1) 75%, rgba(43,47,255,1) 90%
);
		-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent; 
  	-moz-background-clip: text;
  	-moz-text-fill-color: transparent;
		background-size: 400%;
		animation: animation 1s ease-in-out infinite;
		transform: scale(1.02);
		}

		@keyframes animation {
			0% {
				background-position: 0% 100%;
			}
			10% {
				background-position: 40% 80%
			}
			20% {
				background-position: 80% 60%
			}
			30% {
				background-position: 120% 40%
			}
			40% {
				background-position: 160% 20%
			}
			50% {
				background-position: 200% 0%
			}
			60% {
				background-position: 160% 20%
			}
			70% {
				background-position: 120% 40%
			}
			80% {
				background-position: 80% 60%
			}
			90% {
				background-position: 40% 80%
			}
			100% {
				background-position: 0% 100%
			}
		}
	}

	/* @media (prefers-reduced-motion: no-preference) {
		h1 {
			animation: animation 4s infinite;
		}

		@keyframes animation {
		0% {
			text-emphasis-style: '✦';
		}
		50% {
			text-emphasis-style: '✧';
		}
		100% {
			text-emphasis-style: '✦';

		}
	}
	} */

	h2 {
		font-size: 1.75rem;
		text-align: center;
	}

	.contact {
		display: grid;
		justify-content: center;
		align-items: center;
		margin-bottom: 3rem;
	}

	@media (min-width: 40rem) {
		h1 {
			font-size: 5.5rem;
		}
		
		h2 {
			font-size: 3rem;
		}
	}
</style>