---
import BaseLayout from '../layouts/BaseLayout.astro';
import Marquee from '../components/Marquee.astro';
import LatestPosts from '../components/LatestPosts.astro';

const pageTitle = 'Trevor Lee | Homepage';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="relative h-24 mb-10">
    <Marquee />
    <h1 class="absolute text-3xl top-1/2 -translate-y-1/2 z-0 hover:z-30">Software developer interested in design.</h1>
  </div>
  <LatestPosts />
</BaseLayout>
