---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import CopyButton from '../components/CopyButton';

const pageTitle = "Trevor Tyler Lee | Homepage"
---

<BaseLayout pageTitle={pageTitle}>
	<h1>TREVOR LEE</h1>
	<p>I'm a student at BCIT studying web development and digital design.</p>
	<p>I use things like TypeScript, Next.js, and NodeJS to create accessible, cross-platform web applications.</p>
	<Card
	title="Phished – Phish Friends & Family"
	desc="Led a team of seven to develop a production-ready cross-platform app"
	href="/posts/phished"
	src="/phished-screenshot.webp"
	/>
	<Card
	title="HTML Color Name Game"
	desc="An HTML color name matching challenge scored by calculating the difference between two colors"
	href="/posts/color"
	src="/noisy-gradient.webp"
	alt='A tablet and smartphone are next to each other, each displaying a screenshot from the Phished website. The Phished logo, a fish with an envelope for a body, is displayed on the right with the Phished wordmark.'
	/>
	<Card
	title="Creative Work & Other Stuff"
	desc=""
	href="/posts/design"
	src="/creative-work.png"
	alt='The words "Creative Work", with a scribbled arrow aimed at the words "& Other Stuff".'
	/>
	<hr />
	<div class="contact">
		<h2>Contact Me</h2>
		<CopyButton
			client:idle
			label="trevortylerlee@gmail.com"
			value="trevortylerlee@gmail.com"
		/>
		<CopyButton
			client:idle
			label="778-235-3815"
			value="7782353815"
		/>
	</div>
</BaseLayout>

<style>
	h1 {
		font-size: 3rem;
	}

	@media (prefers-reduced-motion: no-preference) {
		h1 {
			animation: animation 4s infinite;
		}

		@keyframes animation {
		0% {
			text-emphasis-style: '✦';
		}
		50% {
			text-emphasis-style: '✧';
		}
		100% {
			text-emphasis-style: '✦';

		}
	}
	}

	h2 {
		font-size: 1.75rem;
		text-align: center;
	}

	.contact {
		display: grid;
		justify-content: center;
		align-items: center;
		margin-bottom: 3rem;
	}

	@media (min-width: 40rem) {
		h1 {
			font-size: 5.5rem;
		}
		
		h2 {
			font-size: 3rem;
		}
	}
</style>