---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import CopyButton from '../components/CopyButton';
import { useState } from 'react';

const pageTitle = "Trevor Tyler Lee"
---

<BaseLayout pageTitle={pageTitle}>
	<h1>Hi, I'm Trevor :)</h1>
	<p>I'm a student at BCIT studying web development and digital design.</p>
	<p>I use things like TypeScript, Next.js, and NodeJS to create accessible, cross-platform web applications.</p>
	<Card
	title="Phished – Phish Friends & Family"
	desc="Led a team of seven to develop a production-ready cross-platform app"
	href="/posts/phished"
	src="/phished-screenshot.webp"
	/>
	<Card
	title="HTML Color Code Game"
	desc="An HTML color code matching game scored by calculating the difference between two RGB colors"
	href="/posts/color"
	src="/noisy-gradient.webp"
	/>
	<hr />
	<div class="contact">
		<h2>Contact Me</h2>
		<CopyButton
			client:idle
			label="trevortylerlee@gmail.com"
		/>
		<CopyButton
			client:idle
			label="778-235-3815"
		/>
	</div>
</BaseLayout>

<style>
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 1.75rem;
		text-align: center;
	}

	.contact {
		display: grid;
		justify-content: center;
		align-items: center;
	}

	@media (min-width: 40rem) {
		h1 {
			font-size: 4.25rem;
		}
		
		h2 {
			font-size: 3rem;
		}
	}
</style>