---
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="ðŸŒ" pageSlug="/ðŸŒ">
  <div class="mx-auto max-w-screen-md pb-12 pt-16 text-center">
    not much here
  </div>
</BaseLayout>
