---
import BaseLayout from "src/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<BaseLayout pageTitle="ðŸŒ" pageSlug="/ðŸŒ">
  <div class="mx-auto max-w-screen-md pb-12 pt-16 text-center">so empty</div>
</BaseLayout>
