---
const { category, pageSlug, pageTitle } = Astro.props;
---

<ul class="flex items-center text-xs">
  { category === "404" ? <></> : 
  <li class="flex items-center">
    <a href="/" class="link no-underline">Home</a>
    <span class="text-textVariant"> &nbsp;/&nbsp; </span>
  </li>
  }
  {
    category === "posts" && (
      <li class="flex items-center">
        <a href={`/${category}`} class="link no-underline">
          Posts
        </a>
        <span class="text-textVariant">&nbsp;/&nbsp;</span>
      </li>
    )
  }
  {pageSlug && <li class="text-textVariant">{pageTitle}</li>}
</ul>
