---
import CopyButton from '../components/CopyButton';
---
<hr />
<div class="contact">
		<h2>Contact Me</h2>
		<CopyButton
			client:idle
			label="trevortylerlee@gmail.com"
			value="trevortylerlee@gmail.com"
		/>
		<CopyButton
			client:idle
			label="778-235-3815"
			value="7782353815"
		/>
</div>

<style>
  .contact {
		display: grid;
		justify-content: center;
		align-items: center;
		margin-bottom: 3rem;
	}
</style>