---
const darkLink = 'rgb(26, 30, 43)';
---

<hr class='hr'/>
<footer>
  <span>
  <a href='https://github.com/tervonugget/astro'>Source code 🚀</a>
  </span>
  <span>
  <a class='push-left' href='https://github.com/tervonugget'>Github</a>
  <a href='https://www.linkedin.com/in/trevortylerlee/'>LinkedIn</a>
  </span>
</footer>

<style define:vars={{ darkLink }}>
  footer {
    display: flex;
    justify-content: space-between;
  }

  a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--darkLink);
    border-bottom: none;
  }

  a:hover {
    color: dodgerblue;
  }

  :global(.dark) a {
    color: white;
  }

  :global(.dark) a:hover {
    color: dodgerblue;
  }

  .push-left {
    margin-right: 1rem;
  }

  .hr {
    margin-top: 2rem;
  }

  @media (min-width: 40rem) {
    .push-left {
      margin-right: 1.5rem;
    }
  }
</style>