---
const darkLink = 'rgb(26, 30, 43)';
---

<hr class='hr'/>
<footer>
  <div class='footer-wrapper'>
    <span class='links'>
  <a href='https://github.com/tervonugget'>Github</a>
  <a href='https://www.linkedin.com/in/trevortylerlee/'>LinkedIn</a>
  </span>
    <!-- The sprites are from pokedb.net!  -->
  <span class='pokemon'>
    <img src='/ditto.gif' alt='Gen 1 Pokemon Ditto' />
    <img src='/togepi.gif' alt='Gen 2 Pokemon Togepi' />
    <img class='delete' src='/pichu.gif' alt='Gen 2 Pokemon Pichu' />
    <img class='delete' src='/wooper.gif' alt='Gen 2 Pokemon Wooper' />
  </span>
  </div>
</footer>

<style define:vars={{ darkLink }}>
  
  .footer-wrapper {
    display: grid;
    justify-content: center;
  }

  a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--darkLink);
    border-bottom: 2px solid transparent;
  }

  a:hover {
    color: dodgerblue;
  }

  :global(.dark) a {
    color: white;
  }

  :global(.dark) a:hover {
    color: dodgerblue;
  }

  .hr {
    margin-top: 2rem;
  }

  .pokemon {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    text-align: center;
  }

  /* img {
    display: none;
  } */

  @media (min-width: 40rem) {
    img {
      display: block;
    }

    .links {
      gap: 1.5rem;
      position: relative;
      top: 0.9em;
    }

    .footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    }
  }
</style>