---
import CopyButton from "../components/CopyButton";
---

<footer
  class="mx-auto flex max-w-screen-md flex-col gap-2 px-2 py-8 font-sans sm:flex-row sm:gap-4"
>
  <a href="https://github.com/trevortylerlee" class="">Github</a>
  <a href="https://www.linkedin.com/in/trevortylerlee/" class="">LinkedIn</a>
  <span aria-label="email address">t@trevortylerlee.com</span>
</footer>
