---

---

<hr class='hr'/>
<footer>
  <span>
  <a href='https://github.com/tervonugget/astro'>Made with Astro 🚀</a>
  </span>
  <span>
  <a class='push-left' href='https://github.com/tervonugget'>Github</a>
  <a href='https://www.linkedin.com/in/trevortylerlee/'>LinkedIn</a>
  </span>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
  }

  a {
    font-size: 1rem;
    font-weight: 400;
    color: white;
  }

  a:hover {
    color: yellow;
  }

  .push-left {
    margin-right: 1rem;
  }

  .hr {
    margin-top: 2rem;
  }

  @media (min-width: 40rem) {
    .push-left {
      margin-right: 1.5rem;
    }
  }
</style>