---
import { Icon } from "astro-icon/components";

const buildTime = new Date().toISOString();
---

<footer
  class="flex flex-col items-baseline justify-between gap-3 pb-4 pt-16 sm:flex-row sm:gap-20"
>
  <details
    class="relative w-full cursor-default rounded-xl px-2 py-2 ring-2 ring-gray-10/10"
  >
    <summary class="cursor-pointer"
      >Contact <span class="text-textVariant font-mono text-sm"
        >(click for details)</span
      ></summary
    >
    <span class="flex flex-col py-2">
      <span class="flex"
        >Email:&nbsp;<a
          href="mailto:trevortylerlee@gmail.com"
          class="link group flex items-center gap-1"
          >trevortylerlee@gmail.com
          <Icon
            class="text-text group-hover:text-primary group-focus-visible:text-primary"
            name="external"
          /></a
        ></span
      >
      <span class="flex"
        >Github:&nbsp;<a
          href="https://github.com/trevortylerlee"
          class="link group flex items-center gap-1"
          target="_blank"
          rel="noopener noreferrer"
          >@trevortylerlee
          <Icon
            class="text-text group-hover:text-primary group-focus-visible:text-primary"
            name="external"
          /></a
        ></span
      >
      <span class="flex"
        >LinkedIn:&nbsp;<a
          href="https://www.linkedin.com/in/trevortylerlee/"
          class="link group flex items-center gap-1 pb-6"
          target="_blank"
          rel="noopener noreferrer"
          >@trevortylerlee
          <Icon
            class="text-text group-hover:text-primary group-focus-visible:text-primary"
            name="external"
          /></a
        ></span
      >
    </span>
  </details>
  <div
    id="build-time"
    data-time={buildTime}
    class="flex min-w-[200px] flex-grow-0 flex-row-reverse items-center"
  >
    <a
      href="https://github.com/trevortylerlee/trevortylerlee.com/commits/main"
      target="_blank"
      rel="noopener noreferrer"
      class="link group flex items-center gap-1 pb-4 pt-2 text-right"
    >
      <span id="last-updated" class="link"> updated</span>
      <Icon
        class="text-text group-hover:text-primary group-focus-visible:text-primary"
        name="external"
      />
    </a>
  </div>
</footer>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const buildTimeString = document.getElementById("build-time").dataset.time;
    const buildTime = new Date(buildTimeString);

    if (!isNaN(buildTime.getTime())) {
      const now = new Date();
      const timeAgoText = timeAgo(buildTime, now);
      document.getElementById("last-updated").textContent =
        `updated ${timeAgoText}`;
    } else {
      console.error("Invalid build time:", buildTimeString);
    }
  });

  function timeAgo(datePast, dateNow) {
    const seconds = Math.floor((dateNow - datePast) / 1000);
    let interval = Math.floor(seconds / 31536000);

    if (interval >= 1) {
      return interval + " year" + (interval === 1 ? "" : "s") + " ago";
    }
    interval = Math.floor(seconds / 2592000);
    if (interval >= 1) {
      return interval + " month" + (interval === 1 ? "" : "s") + " ago";
    }
    interval = Math.floor(seconds / 86400);
    if (interval >= 1) {
      return interval + " day" + (interval === 1 ? "" : "s") + " ago";
    }
    interval = Math.floor(seconds / 3600);
    if (interval >= 1) {
      return interval + " hour" + (interval === 1 ? "" : "s") + " ago";
    }
    interval = Math.floor(seconds / 60);
    if (interval >= 1) {
      return interval + " minute" + (interval === 1 ? "" : "s") + " ago";
    }
    return (
      Math.floor(seconds) + " second" + (seconds === 1 ? "" : "s") + " ago"
    );
  }
</script>
