---
const greenLink = '#33D74C';
const blueLink = '#027AFF';
---

<hr class="hr" />
<footer>
  <div class="footer-wrapper">
    <span class="links">
      <a href="https://github.com/boogerbuttcheeks">Github</a>
      <a href="https://www.linkedin.com/in/trevortylerlee/"
        >LinkedIn</a
      >
      <a href="https://read.cv/booger">Resume</a>
    </span>
    <!-- The sprites are from pokedb.net!  -->
    <span class="pokemon">
      <span class="ditto name">
        <img src="/ditto.gif" alt="Ditto" />
      </span>
      <span class="togepi name">
        <img src="/togepi.gif" alt="Togepi" />
      </span>
      <span class="pichu name">
        <img class="delete" src="/pichu.gif" alt="Pichu" />
      </span>
      <span class="wooper name">
        <img class="delete" src="/wooper.gif" alt="Wooper" />
      </span>
    </span>
  </div>
</footer>

<style define:vars={{ blueLink, greenLink }}>
  .footer-wrapper {
    display: grid;
    justify-content: center;
  }

  a {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    border-bottom: 2px solid transparent;
    margin-top: 1em;
  }

  a:hover {
    color: var(--blueLink);
  }

  :global(.dark) a {
    color: white;
  }

  :global(.dark) a:hover {
    color: var(--greenLink);
  }

  .hr {
    margin-top: 2rem;
  }

  .pokemon {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .pokemon img {
    transition: 0.2s;
  }

  .pokemon:hover img {
    opacity: 0;
  }

  .ditto:hover img {
    opacity: 1;
  }

  .togepi:hover img {
    opacity: 1;
  }

  .pichu:hover img {
    opacity: 1;
  }

  .wooper:hover img {
    opacity: 1;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
    gap: 1rem;
  }

  /* .name::after {
    font-family: monospace;
    position: absolute;
    opacity: 0;
    transition: 0.2s ease-in-out;
    transform: scale(0.9);
  }

  .name:hover::after {
    opacity: 1;
    transform: scale(1);
  }

  .ditto::after {
    content: 'ditto!';
    margin-left: -1rem;
    margin-top: -3rem;
  }

  .ditto:hover::after {
    transform: rotate(-20deg);
  }

  .togepi::after {
    content: 'togepi!';
    margin-top: -3.25rem;
    margin-left: -0.5rem;
  }

  .togepi:hover::after {
    transform: rotate(-2deg);
  }

  .pichu::after {
    content: 'pichu!';
  }

  .pichu:hover::after {
    transform: rotate(-5deg);
  }

  .wooper::after {
    content: 'wooper!';
    margin-top: -3.5rem;
  }

  .wooper:hover::after {
    transform: rotate(5deg);
  } */

  @media (min-width: 40rem) {
    img {
      display: block;
    }

    .links {
      gap: 1.25rem;
      position: relative;
      top: 0.9em;
    }

    .footer-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    .pokemon {
      margin-top: 0;
    }
  }
</style>
