---
import CopyButton from "../components/CopyButton";
---

<footer class="py-8 px-1 flex gap-4 font-sans max-w-screen-md mx-auto">
  <a href="https://github.com/trevortylerlee" class="">Github</a>
  <a href="https://www.linkedin.com/in/trevortylerlee/" class="">LinkedIn</a>
  <CopyButton
    client:load
    copyText="trevortylerlee@gmail.com"
    label="trevortylerlee@gmail.com"
  />
</footer>
