---
import CopyButton from "../components/CopyButton";
---

<footer class=" mt-8 mb-8 flex justify-between font-content px-4">
  <div class="flex gap-4 self-center max-[420px]:flex-col max-[420px]:gap-2">
    <a href="https://github.com/trevortylerlee" class=""
      >Github</a
    >
    <a
      href="https://www.linkedin.com/in/trevortylerlee/"
      class="">LinkedIn</a
    >
    <CopyButton
      client:load
      copyText="trevortylerlee@gmail.com"
      label="trevortylerlee@gmail.com"
    />
  </div>
</footer>
