---
import { Icon } from "astro-icon/components";

const buildTime = new Date().toISOString();
---

<footer
  class="flex flex-col items-baseline justify-between pb-1 pt-16 text-xs sm:flex-row sm:pt-24"
>
  <div class="text-textVariant">
    © Copyright {new Date().getFullYear()}, Trevor Lee. <a
      href="/rss.xml"
      class="link">RSS Feed</a
    >
  </div>
  <div
    id="build-time"
    data-time={buildTime}
    class="flex min-w-[240px] flex-grow-0 flex-row items-center sm:flex-row-reverse"
  >
    <a
      href="https://github.com/trevortylerlee/trevortylerlee.com/commits/main"
      class="link group flex items-center gap-1 pb-4 pt-2 text-right"
    >
      <span
        id="last-updated"
        class="link group-hover:text-primary group-focus-visible:text-primary"
      >
        Updated</span
      >
      <Icon class="text-text" name="external" aria-label="External link icon" />
    </a>
  </div>
</footer>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const buildTimeString = document.getElementById("build-time").dataset.time;
    const buildTime = new Date(buildTimeString);

    if (!isNaN(buildTime.getTime())) {
      const now = new Date();
      const timeAgoText = timeAgo(buildTime, now);
      document.getElementById("last-updated").textContent =
        `Updated ${timeAgoText}`;
    } else {
      console.error("Invalid build time:", buildTimeString);
    }
  });

  function timeAgo(datePast, dateNow) {
    const seconds = Math.floor((dateNow - datePast) / 1000);
    let interval = Math.floor(seconds / 31536000);

    if (interval >= 1) {
      return interval + " year" + (interval === 1 ? "" : "s") + " ago";
    }
    interval = Math.floor(seconds / 2592000);
    if (interval >= 1) {
      return interval + " month" + (interval === 1 ? "" : "s") + " ago";
    }
    interval = Math.floor(seconds / 86400);
    if (interval >= 1) {
      return interval + " day" + (interval === 1 ? "" : "s") + " ago";
    }
    interval = Math.floor(seconds / 3600);
    if (interval >= 1) {
      return interval + " hour" + (interval === 1 ? "" : "s") + " ago";
    }
    interval = Math.floor(seconds / 60);
    if (interval >= 1) {
      return interval + " minute" + (interval === 1 ? "" : "s") + " ago";
    }
    return (
      Math.floor(seconds) + " second" + (seconds === 1 ? "" : "s") + " ago"
    );
  }
</script>
