---
import CopyButton from "../components/CopyButton";
---

<footer class="mb-4">
  <div class="flex gap-2">
    <a href="https://github.com/boogerbuttcheeks">Github</a>⋅
    <a href="https://www.linkedin.com/in/trevortylerlee/">LinkedIn</a>⋅
    <CopyButton client:visible copyText="trevortylerlee@gmail.com" label="trevortylerlee@gmail.com" />
  </div>
</footer>
