---
import Marquee from '../components/Marquee.astro'
import SocialLink from '../components/SocialLink.astro'


const greenLink = '#ff0080';
const blueLink = '#0000FF';
---

<hr class="hr" />
<footer>
  <div class="footer-wrapper">
    <div class='social-grid'>
    <SocialLink
      link="https://github.com/boogerbuttcheeks"
      icon="ant-design:github-filled"
      name="Github"
    />
    <SocialLink
      link="https://www.linkedin.com/in/trevortylerlee/"
      icon="mdi:linkedin"
      name="LinkedIn"
    />
    <SocialLink
      link="https://mstdn.social/@boogerbuttcheeks"
      icon="mdi:mastodon"
      name="Mastodon"
    />
    <SocialLink
      link="https://twitter.com/boogerbuttcheek"
      icon="ri:twitter-fill"
      name="Twitter"
    />
    </div>
    <Marquee />
  </div>
</footer>

<style define:vars={{ blueLink, greenLink }}>
  .footer-wrapper {
    display: grid;
    margin-bottom: 1em;
  }

  a {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    border-bottom: 2px solid transparent;
    margin-top: 1em;
  }

  :global(.dark) a {
    color: white;
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    margin-bottom: 0.5rem;
    gap: 1.25rem;
  }

    .social-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 420px;
  }

  @media (min-width: 40rem) {
    .links {
      gap: 1.5rem;
      position: relative;
    }

    .social-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      place-content: center;
      gap: 1rem;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .pokemon {
      display: none;
    }
  }
</style>
