---
const darkLink = 'rgb(26, 30, 43)';
---

<hr class='hr'/>
<footer>
  <div class='footer-wrapper'>
    <span class='links'>
  <a href='https://github.com/boogerbuttcheeks'>Github</a>
  <a href='https://www.linkedin.com/in/trevortylerlee/'>LinkedIn</a>
  <a href='https://twitter.com/boogerbuttcheek'>Twitter</a>
  </span>
    <!-- The sprites are from pokedb.net!  -->
  <span class='pokemon'>
    <span class='ditto name'>
        <img src='/ditto.gif' alt='Ditto'/>
    </span>
    <span class='togepi name'>
      <img src='/togepi.gif' alt='Togepi' />
    </span>
    <span class='pichu name'>
      <img class='delete' src='/pichu.gif' alt='Pichu' />
    </span>
    <span class='wooper name'>
      <img class='delete' src='/wooper.gif' alt='Wooper' />
    </span>
  </span>
  </div>
</footer>

<style define:vars={{ darkLink }}>
  
  .footer-wrapper {
    display: grid;
    justify-content: center;
  }

  a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--darkLink);
    border-bottom: 2px solid transparent;
    padding-top: 1em;
  }

  a:hover {
    color: dodgerblue;
  }

  :global(.dark) a {
    color: white;
  }

  :global(.dark) a:hover {
    color: dodgerblue;
  }

  .hr {
    margin-top: 2rem;
  }

  .pokemon {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
    gap: 1rem;
  }

  .name::after {
    font-family: monospace;
    position: absolute;
    opacity: 0;
    transition: 0.2s ease-in-out;
    transform: scale(0.9);
  }

  .name:hover::after {
    opacity: 1;
    transform: scale(1);
  }

  .ditto::after {
    content: 'ditto!';
  }

  .togepi::after {
    content: 'togepi!';
  }
  .pichu::after {
    content: 'pichu!';
  }
  .wooper::after {
    content: 'wooper!';
  }

  @media (min-width: 40rem) {
    img {
      display: block;
    }

    .links {
      gap: 1.25rem;
      position: relative;
      top: 0.9em;
    }

    .footer-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
  }
</style>