---
import ExternalLink from "@components/ExternalLink.astro";

const buildTime = new Date().toISOString();
---

<footer
  class="mx-auto flex max-w-screen-sm flex-col items-baseline justify-between bg-transparent px-3 pb-4 pt-24 text-sm dark:bg-black sm:flex-row sm:px-0"
>
  <div class="text-textVariant">
    © Copyright {new Date().getFullYear()}, Trevor Lee. <a
      href="/rss.xml"
      class="link">RSS Feed</a
    >
  </div>
  <div id="build-time" data-time={buildTime} class="pt-1 sm:pt-0">
    <ExternalLink
      href="https://github.com/trevortylerlee/trevortylerlee.com/commits/main"
    >
      <span id="last-updated">Updated</span>
    </ExternalLink>
  </div>
</footer>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const buildTimeString = document.getElementById("build-time").dataset.time;
    const buildTime = new Date(buildTimeString);

    if (!isNaN(buildTime.getTime())) {
      const now = new Date();
      const timeAgoText = timeAgo(buildTime, now);
      document.getElementById("last-updated").textContent =
        `Updated ${timeAgoText}`;
    }
  });

  function timeAgo(datePast, dateNow) {
    const seconds = Math.floor((dateNow - datePast) / 1000);
    let interval = Math.floor(seconds / 31536000);

    if (interval >= 1) {
      return interval + " year" + (interval === 1 ? "" : "s") + " ago";
    }
    interval = Math.floor(seconds / 2592000);
    if (interval >= 1) {
      return interval + " month" + (interval === 1 ? "" : "s") + " ago";
    }
    interval = Math.floor(seconds / 86400);
    if (interval >= 1) {
      return interval + " day" + (interval === 1 ? "" : "s") + " ago";
    }
    interval = Math.floor(seconds / 3600);
    if (interval >= 1) {
      return interval + " hour" + (interval === 1 ? "" : "s") + " ago";
    }
    interval = Math.floor(seconds / 60);
    if (interval >= 1) {
      return interval + " minute" + (interval === 1 ? "" : "s") + " ago";
    }
    return (
      Math.floor(seconds) + " second" + (seconds === 1 ? "" : "s") + " ago"
    );
  }
</script>
