---
import {
  DescriptionDetails,
  DescriptionList,
  DescriptionTerm,
} from "@components/ui/description-list";
import { Icon } from "astro-icon/components";
---

<section>
  <h1 class="text-2xl font-semibold">Trevor Lee</h1>
  <span class="text-sm text-textVariant"
    >Front-End Developer · Vancouver, Canada</span
  >
  <span class="mt-4 block text-textVariant"
    >Building websites with React and Node.js since 2020. Passionate about
    interface design and crafting detailed, accessible experiences on the web.
  </span>
</section>
<section class="mt-12">
  <DescriptionList>
    <DescriptionTerm className="animate-down">Email</DescriptionTerm>
    <DescriptionDetails className="animate-down flex items-center gap-1"
      ><a href="mailto:trevortylerlee@gmail.com" class="link"
        >trevortylerlee@gmail.com</a
      ><Icon name="external" /></DescriptionDetails
    >

    <DescriptionTerm className="animate-down">Phone</DescriptionTerm>
    <DescriptionDetails className="animate-down flex items-center gap-1"
      ><a href="tel:+17782353815" class="link">+1 778 235 3815</a><Icon
        name="external"
      /></DescriptionDetails
    >

    <DescriptionTerm className="animate-down">GitHub</DescriptionTerm>
    <DescriptionDetails className="animate-down flex items-center gap-1"
      ><a href="https://github.com/trevortylerlee" class="link"
        >@trevortylerlee</a
      ><Icon name="external" /></DescriptionDetails
    >

    <DescriptionTerm className="animate-down">LinkedIn</DescriptionTerm>
    <DescriptionDetails className="animate-down flex items-center gap-1"
      ><a href="https://www.linkedin.com/in/trevortylerlee/" class="link"
        >@trevortylerlee</a
      ><Icon name="external" /></DescriptionDetails
    >

    <DescriptionTerm className="animate-down">Resume</DescriptionTerm>
    <DescriptionDetails className="animate-down flex items-center gap-1"
      ><a href="/trevor-lee-resume.pdf" class="link">Download</a><Icon
        name="download"
      /></DescriptionDetails
    >

    <DescriptionTerm className="animate-down">Threads</DescriptionTerm>
    <DescriptionDetails className="animate-down flex items-center gap-1"
      ><a href="https://www.threads.net/@trevortylerlee" class="link"
        >@trevortylerlee</a
      ><Icon name="external" /></DescriptionDetails
    >
  </DescriptionList>
</section>
