---
import {
  DescriptionDetails,
  DescriptionList,
  DescriptionTerm,
} from "@components/ui/description-list";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import profilePicture from "@assets/me-with-roxy.jpg";
---

<section>
  <div class="flex">
    <div class="group mr-3 flex items-center sm:mr-5">
      <div
        class="avatar relative inline-flex h-12 w-12 items-center justify-center overflow-hidden rounded-xl"
      >
        <Image
          src={profilePicture}
          alt="Me and my dog Roxy"
          width={64}
          height={64}
          format="avif"
          quality="high"
          loading="eager"
          draggable="false"
        />
        <div
          class="avatar absolute inset-0 flex h-full w-full justify-center [transform:skew(-12deg)_translateX(-100%)] group-hover:duration-500 group-hover:[transform:skew(-12deg)_translateX(100%)]"
        >
          <div class="relative h-full w-8 bg-white/20"></div>
        </div>
      </div>
    </div>
    <div class="grid">
      <h1 class="text-2xl font-semibold">Trevor Lee</h1>
      <span class="text-sm text-textVariant"
        >Frontend Developer <span class="text-lg">⋆</span> Vancouver, Canada</span
      >
    </div>
  </div>
  <span class="mt-4 block text-textVariant"
    >Building websites with React and Node.js since 2020. Passionate about
    designing interfaces and crafting detailed, accessible experiences on the
    web.
  </span>
</section>
<section class="mt-12">
  <DescriptionList>
    <DescriptionTerm>Email</DescriptionTerm>
    <DescriptionDetails className="flex items-center gap-1"
      ><a href="mailto:trevortylerlee@gmail.com" class="link"
        >trevortylerlee@gmail.com</a
      ><Icon name="external" /></DescriptionDetails
    >

    <DescriptionTerm>Phone</DescriptionTerm>
    <DescriptionDetails className="flex items-center gap-1"
      ><a href="tel:+17782353815" class="link">+1 778 235 3815</a><Icon
        name="external"
      /></DescriptionDetails
    >

    <DescriptionTerm>GitHub</DescriptionTerm>
    <DescriptionDetails className="flex items-center gap-1"
      ><a href="https://github.com/trevortylerlee" class="link"
        >@trevortylerlee</a
      ><Icon name="external" /></DescriptionDetails
    >

    <DescriptionTerm>LinkedIn</DescriptionTerm>
    <DescriptionDetails className="flex items-center gap-1"
      ><a href="https://www.linkedin.com/in/trevortylerlee/" class="link"
        >@trevortylerlee</a
      ><Icon name="external" /></DescriptionDetails
    >

    <DescriptionTerm>Resume</DescriptionTerm>
    <DescriptionDetails className="flex items-center gap-1"
      ><a href="/trevor-lee-resume.pdf" class="link">Download</a><Icon
        name="download"
      /></DescriptionDetails
    >

    <DescriptionTerm>Threads</DescriptionTerm>
    <DescriptionDetails className="flex items-center gap-1"
      ><a href="https://www.threads.net/@trevortylerlee" class="link"
        >@trevortylerlee</a
      ><Icon name="external" /></DescriptionDetails
    >
  </DescriptionList>
</section>
