---
import { ArrowRight } from "lucide-react";

import { getCollection } from "astro:content";
import MorePost from "../components/MorePost.astro";

import { formatBlogPost } from "../lib/utils";

const allPosts = await getCollection("posts");
const formattedPosts = formatBlogPost(allPosts, {
  limit: 5,
});
---

<div class="">
  <div class="">
  </div>
  <div class="grid gap-4">
    {
      formattedPosts.map((post) => (
        <MorePost
          date={post.data.date}
          href={post.slug}
          title={post.data.title}
          description={post.data.description}
        />
      ))
    }
  </div>
    <div class="flex justify-end py-8">
    <a class="flex exempt-link p-2 hover:bg-neutral-200 dark:hover:bg-neutral-800" href="/posts/">
      View all posts
      <ArrowRight size={16} className={"self-center ml-1"} />
    </a>
    </div>
</div>
