<div class="marquee">
  <div class="track bg-[#0000FF]">
    <div
      class="content pointer-events-none select-none font-mono text-xs text-white no-underline"
    >
      01110100 01110100 01101100 00001010 ∙ 74 74 6c ∙ - - .-.. ∙ 164 164 154 ∙
      tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74 74 6c ∙ - - .-.. ∙ 164 164
      154 ∙ tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74 74 6c ∙ - - .-.. ∙
      164 164 154 ∙ tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74 74 6c ∙ - -
      .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74 74 6c
      ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74
      74 6c ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100 01110100 01101100 00001010
      ∙ 74 74 6c ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100 01110100 01101100
      00001010 ∙ 74 74 6c ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100 01110100
      01101100 00001010 ∙ 74 74 6c ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100
      01110100 01101100 00001010 ∙ 74 74 6c ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙
      01110100 01110100 01101100 00001010 ∙ 74 74 6c ∙ - - .-.. ∙ 164 164 154 ∙
      tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74 74 6c ∙ - - .-.. ∙ 164 164
      154 ∙ tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74 74 6c ∙ - - .-.. ∙
      164 164 154 ∙ tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74 74 6c ∙ - -
      .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74 74 6c
      ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74
      74 6c ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100 01110100 01101100 00001010
      ∙ 74 74 6c ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100 01110100 01101100
      00001010 ∙ 74 74 6c ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100 01110100
      01101100 00001010 ∙ 74 74 6c ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100
      01110100 01101100 00001010 ∙ 74 74 6c ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙
      01110100 01110100 01101100 00001010 ∙ 74 74 6c ∙ - - .-.. ∙ 164 164 154 ∙
      tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74 74 6c ∙ - - .-.. ∙ 164 164
      154 ∙ tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74 74 6c ∙ - - .-.. ∙
      164 164 154 ∙ tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74 74 6c ∙ - -
      .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74 74 6c
      ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100 01110100 01101100 00001010 ∙ 74
      74 6c ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙ 01110100 01110100 01101100 00001010
      ∙ 74 74 6c ∙ - - .-.. ∙ 164 164 154 ∙ tlt ∙
    </div>
  </div>
</div>

<style>
  .marquee {
    position: relative;
    width: 100vw;
    height: 1rem;
    max-width: 100%;
    overflow-x: hidden;
  }

  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 480s linear infinite;
  }

  @keyframes marquee {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }
</style>
