---
---

  <span class='container'>
    <marquee
      aria-hidden="true"
      id="marq"
      scrolldelay="120"
      scrollamount="4"
      class="z-20 relative pointer-events-none mt-5"
    >
      <img src="/pokemon/magikarp.gif" alt="magikarp" />
    </marquee>
  </span>

<style>
  .container {
    display: none;
    overflow-x: hidden;
  }

  @media (prefers-reduced-motion: no-preference) {
    .container {
      overflow-x: hidden;
      display: inline;
    }
  }
</style>

<script>
  const possiblePokemon = {
    0: "weezing",
    1: "yanma",
    2: "magnezone",
    3: "flygon",
    4: "haunter",
    5: "celebi",
    6: "shuppet",
    7: "mew",
    8: "darkrai",
    9: "gyarados",
    10: "aerodactyl",
    11: "lugia",
    12: "tympole",
    13: "hoppip",
    14: "stunfisk",
    15: "combee",
    16: "geodude",
    17: "ghastly",
    18: "swablu",
    19: "porygon-z",
    20: "magikarp",
    21: "drifloon",
    22: "beedrill",
    23: "druddigon",
  };

  const d = new Date();
  let hour = d.getUTCHours();
  let pokemon = possiblePokemon[hour];

  let marq = document.getElementById("marq");
  marq.innerHTML = `<img src=${`/pokemon/${pokemon}.gif`} alt=${`${pokemon}`} />`;
</script>
