---
import { formatDate, isWithinLastFortnite } from "../lib/utils";
import { AlertCircle, Circle } from "lucide-react";
import { Badge } from "./ui/badge";
const { date, href, title, description, last } = Astro.props;
---

<a href={`/posts/${href}`} class="exempt-link">
  <div
    class="relative bg-skin-gray5 p-4 hover:bg-skin-gray4 dark:bg-skin-darkGray5 hover:dark:bg-skin-darkGray4"
  >
    {
      isWithinLastFortnite(date) && (
        <Circle
          fill="#ff3a30"
          stroke="#ff3a30"
          size={12}
          className={"absolute -right-1.5 -top-1.5"}
        />
      )
    }
    <div class="wrapper">
      <div class="flex items-baseline justify-between">
        <div class="max-w-[80%]">
          <h4
            class="mr-1 line-clamp-1 text-lg font-bold text-skin-blue hover:underline dark:text-skin-darkCyan"
          >
            {title}
          </h4>
        </div>
        <div class="flex">
          <p class="self-baseline whitespace-nowrap text-xs opacity-75">
            {formatDate(date)}
          </p>
        </div>
      </div>
      {description && <p class="line-clamp-2">{description}</p>}
    </div>
  </div>
</a>
