---
import { formatDate, isWithinLastFortnite } from "../lib/utils";
import { AlertCircle, Circle } from "lucide-react";
const { date, href, title, description, last } = Astro.props;
---

<div class="">
  <div class="relative p-4">
    <!-- {
      isWithinLastFortnite(date) && (
        <Circle
          fill="#ff3a30"
          stroke="#ff3a30"
          size={12}
          className={"absolute -right-1.5 -top-1.5"}
        />
      )
    } -->
    <div class="wrapper">
      <div class="flex items-baseline justify-between">
        <div class="max-w-[80%]">
          <a href={`/posts/${href}`}>
            <h4 class="line-clamp-1 text-lg font-bold">
              {title}
            </h4>
          </a>
        </div>
        <div class="flex">
          <p class="self-baseline whitespace-nowrap text-xs opacity-75">
            {formatDate(date)}
          </p>
        </div>
      </div>
      {description && <p class="line-clamp-2">{description}</p>}
    </div>
  </div>
</div>
