---
import { formatDate } from '../js/utils';

const lightGlow = 'rgb(227, 227, 227)';
const darkGlow = '#0000FF';
const darkBg = 'rgb(41, 44, 57)';
const lightBg = 'rgb(250, 250, 250)';
const { date, href, title, last } = Astro.props;
---

<div class={`${last ? 'last' : ''} container`}>
  <a href={`/posts/${href}`}>
    <div class="post">
      <div class="title">
        <p>{title}</p>
      </div>
      <div class="date">
        <p class="date">{formatDate(date)}</p>
      </div>
    </div>
  </a>
</div>

<style define:vars={{ lightGlow, darkGlow, lightBg, darkBg }}>
  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
  }

  a:hover .post {
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--darkGlow);
    text-shadow: 0 0 1rem var(--darkGlow);
  }

  a:focus .post {
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--darkGlow);
    text-shadow: 0 0 1rem var(--darkGlow);
  }

  a:hover p {
    box-shadow: none;
    text-shadow: none;
  }

  a:focus p {
    box-shadow: none;
    text-shadow: none;
  }

  :global(.dark) a:hover .post {
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--lightGlow);
    text-shadow: 0 0 1rem var(--lightGlow);
  }

  :global(.dark) a:focus .post {
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--lightGlow);
    text-shadow: 0 0 1rem var(--lightGlow);
  }

  .post {
    background: var(--lightBg);
    border-radius: 8px;
    padding: 0.75rem;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  :global(.dark) .post {
    background: var(--darkBg);
  }

  .date {
    font-size: 0.75rem;
    opacity: 0.75;
  }

  .last {
    margin-bottom: 4rem;
  }

  .container {
    /* outline: 2px solid red; */
  }

  .title {
    width: 70%;
  }

  .title p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .date {
    min-width: 25%;
    text-align: right;
    white-space: nowrap;
  }
</style>
