---
import { formatDate } from '../js/utils';

const lightGlow = '#ff0080';
const darkGlow = '#0000FF';
const darkBg = '#222';
const lightBg = '#fff';
const { date, href, title, description, last } = Astro.props;
---

<div class={`${last ? 'last' : ''} container`}>
  <a href={`/posts/${href}`}>
    <div class="wrapper">
      <div class="post">
        <div class="title">
          <p>{title}</p>
        </div>
        <div class="date">
          <p class="date">{formatDate(date)}</p>
        </div>
      </div>
      { description && <p class="desc">{description}</p>}
    </div>
  </a>
</div>

<style define:vars={{ lightGlow, darkGlow, lightBg, darkBg }}>
  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
  }

  a:hover .wrapper {
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--darkGlow);
    text-shadow: 0 0 1rem var(--darkGlow);
  }

  a:focus .wrapper {
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--darkGlow);
    text-shadow: 0 0 1rem var(--darkGlow);
  }

  a:hover p {
    box-shadow: none;
    text-shadow: none;
  }

  a:focus p {
    box-shadow: none;
    text-shadow: none;
  }

  :global(.dark) a:hover .wrapper {
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--lightGlow);
    text-shadow: 0 0 1rem var(--lightGlow);
  }

  :global(.dark) a:focus .wrapper {
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--lightGlow);
    text-shadow: 0 0 1rem var(--lightGlow);
  }

  .wrapper {
    background: var(--lightBg);
    border-radius: 8px;
    padding: 0.75rem;
    transition: 0.2s;
  }

  .post {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  :global(.dark) .wrapper {
    background: var(--darkBg);
  }

  .date {
    font-size: 0.75rem;
    opacity: 0.75;
  }

  .last {
    margin-bottom: 4rem;
  }

  .container {
    /* outline: 2px solid red; */
  }

  .title {
    width: 70%;
  }

  .title p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.125rem;
    font-weight: 600;
  }

  .date {
    min-width: 25%;
    text-align: right;
    white-space: nowrap;
  }

  .desc {
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }
</style>
