---
import { formatDate, isWithinLastFortnite } from "../lib/utils";
import { Icon } from "astro-icon";
import { AlertCircle } from "lucide-react";
const { date, href, title, description, last } = Astro.props;
---

<a href={`/posts/${href}`} class="exempt-link">
<div class="p-4 bg-neutral-200 hover:bg-neutral-300 dark:bg-neutral-800 hover:dark:bg-neutral-700">
    <div class="wrapper">
      <div class="flex justify-between items-baseline">
        <div class="max-w-[80%]">
          <h4 class="text-lg font-bold line-clamp-1 text-blue-700 dark:text-blue-300 hover:underline">{title}</h4>
        </div>
        <div class="text-baseline flex">
          {
            isWithinLastFortnite(date) && (
              <AlertCircle color={"red"} size={16} className={"self-center mr-1"}/>
            )
          }
          <p class="text-xs opacity-75 whitespace-nowrap">{formatDate(date)}</p>
        </div>
      </div>
      {description && <p class="line-clamp-2">{description}</p>}
    </div>
  </div>
</a>
