---
import { formatDate, isWithinLastFortnite } from "../lib/utils";
const { date, href, title, description, last } = Astro.props;
---

<a
  class="py-4 group"
  style="text-decoration: none"
  href={`/posts/${href}`}
  transition:name={`${href}-container`}
>
  <div class="flex items-baseline justify-between">
    <div>
      <h2
        class="line-clamp-1 text-lg text-left hover:underline group-hover:underline"
      >
        {title}
      </h2>
    </div>
    <div class="flex justify-end">
      <p
        class="self-baseline whitespace-nowrap text-xs opacity-75 text-content"
      >
        {formatDate(date, "short")}
      </p>
    </div>
  </div>
  {
    description && (
      <p class="line-clamp-2 text-content no-underline">{description}</p>
    )
  }
</a>
