---
import ThemeToggle from "./ThemeToggle.tsx";
import PrimarySelector from "./PrimarySelector.tsx";
---

    <nav
      class="flex justify-between py-4 align-middle"
    >
      <span>
        <a
          class="px-2 py-2.5 text-content no-underline hover:bg-accent-blue/20 hover:text-content"
          href="/"
          aria-label="Go to homepage"
          title="Go to homepage"
        >
          trevortylerlee.com
        </a>
      </span>
    </nav>
