<!-- <nav class="w-full">
  <div class="flex justify-between">
    <div>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
    <div>
      <input name="theme-toggle" id="theme-toggle" type="checkbox" />
      <label for="theme-toggle">Enable dark mode</label>
    </div>
  </div>
</nav>

<script is:inline>
</script> -->
