---
import ThemeIcon from '../components/ThemeIcon.astro';
import { Icon } from 'astro-icon';

const darkModeColor = '#ff0080';
const lightModeColor = '#0000FF';
---

<nav aria-label="Main Navigation">
  <div>
    <a class="wavy-exempt" href="/" aria-label="Go to homepage">
      <!-- <Icon name="favicon" size="48" class="logo"/> -->
      <img src='/favicon.png' alt='logo' class='logo' />
    </a>
  </div>
  <div class='toggleWrapper'>
    <ThemeIcon />
  </div>
</nav>

<style define:vars={{ lightModeColor, darkModeColor }}>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 48px;
    height: 48px;
    border-radius: 0;
  }

  a {
    color: black;
    transition: 0.2s ease-in-out;
  }

  a:hover > img,
  a:focus > img {
    color: var(--lightModeColor);
    outline: 2px dotted var(--primary-color);
  }

  :global(.dark) a {
    color: white;
  }

  :global(.dark) a:hover,
  :global(.dark) a:focus {
    color: var(--darkModeColor);
  }

  .toggleWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
