---
// import ThemeSelector from "../components/ThemeSelector";
import { CommandBar } from "./CommandBar";
---

<nav
  aria-label="Main Navigation"
  class="flex justify-between align-middle py-4 h-13 my-4"
>
  <span class="flex text-center">
  <a class="exempt-link text-xl font-medium hover:bg-skin-blue hover:text-skin-gray6 dark:hover:bg-skin-darkCyan p-2 dark:hover:text-black inter-only" href="/" aria-label="Go to homepage">
    trevortylerlee.com
  </a>
  </span>
  <span class="flex gap-2">
  <CommandBar client:load/>
  <!-- <ThemeSelector client:load /> -->
  </span>
</nav>
