---
import ThemeIcon from '../components/ThemeIcon.astro';
import { Icon } from 'astro-icon'

const darkModeColor = '#ff0080';
const lightModeColor = '#0000FF';
---

<nav aria-label="Main Navigation">
  <a class="wavy-exempt" href="/" aria-label="Go to homepage">
    <Icon name="lucide:home" size="48" class="logo"/>
  </a>
  <ThemeIcon />
</nav>

<style define:vars={{ lightModeColor, darkModeColor }}>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: black;
    transition: 0.2s ease-in-out;
  }

  a:hover {
    color: var(--lightModeColor);
    transform: scale(1.02)
  }

  :global(.dark) a {
    color: white;
  }

  :global(.dark) a:hover {
    color: var(--darkModeColor);
  }
</style>
