<nav class="py-3 text-center">
  <span>
    <span data-sparks class="cursor-default text-[26px] font-semibold"
      >TREVOR LEE</span
    >
  </span>
  <span class="flex justify-center gap-3 font-mono">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </span>
</nav>
