---
import ThemeIcon from "../components/ThemeIcon.astro";
import ThemeSelector from "../components/ThemeSelector.tsx";
import { Icon } from "astro-icon";
---

<nav
  aria-label="Main Navigation"
  class="flex justify-between align-middle py-4 h-13"
>
  <a class="exempt-link text-xl font-medium hover:bg-yellow-300 p-2 dark:hover:bg-yellow-400 dark:hover:text-black inter-only" href="/" aria-label="Go to homepage">
    trevortylerlee.com
  </a>
  <ThemeSelector client:load />
</nav>

<!-- <style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: black;
  }

  a:hover,
  a:focus {
    outline: none;
  }

  a:hover svg,
  a:focus svg {
    outline: 2px dotted var(--primary-color);
  }

  :global(.dark) a {
    color: white;
  }

  .toggleWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .logoWrapper {
    transform: rotate(0deg);
  }

  .animate {
    animation: spin 0.65s cubic-bezier(0,.69,.22,1.14) forwards;
  }

  @media (prefers-reduced-motion: reduce) {
    .animate {
      animation: none;
    }
  }

  @keyframes spin {
    to {
      transform: rotate(2turn);
    }
  }
</style> -->

<!-- <script>
  document.addEventListener('DOMContentLoaded', () => {
    const target = document.querySelector('.logoWrapper')

    const observer = new IntersectionObserver(entries => {
      if (entries[0].isIntersecting) {
        target.classList.add('animate')
      } else {
        target.classList.remove('animate')
      }
    }, {
      threshold: 0.05,
    })

    observer.observe(target)
  })
</script> -->
