<nav class="py-3 text-center">
  <span>
    <a href="/" class="text-[26px] font-semibold">TREVOR LEE</a>
  </span>
  <span class="flex justify-center gap-3 font-mono">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </span>
</nav>
