---
import Breadcrumbs from "./Breadcrumbs.astro";
const { category, pageSlug, pageTitle } = Astro.props;
---

<nav>
  <div
    class="mx-auto flex max-w-screen-md items-center justify-between px-2 py-4"
  >
    <Breadcrumbs
      category={category}
      pageSlug={pageSlug}
      pageTitle={pageTitle}
    />
  </div>
</nav>

<style>
  .dark,
  .light {
    pointer-events: none;
  }

  #themeToggle {
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-perspective: 1;
  }
</style>
