---
import { Icon } from "astro-icon/components";

interface Note {
  type: "info" | "question" | "device-alternate" | "warning" | "stop";
}

const { type = "info" } = Astro.props;
---

<div class={`p-4 flex ${type} note`}>
  <div class="icon">
    <div><Icon name={type} /></div>
  </div>
  <div class="slot-content">
    <slot />
  </div>
</div>

<style>
  .note {
    border-radius: 1px;
    background: rgb(var(--background));
    outline: 1.5px solid rgb(var(--gray-4));
  }

  .dark .note {
    background: black;
  }

  .question {
    color: rgb(var(--gray-10));
    background: rgb(var(--gray-2));
  }

  .device-alternate {
    color: rgb(var(--blue-9));
    background: rgb(var(--blue-2));
    outline: 1.5px solid rgb(var(--blue-4));
  }

  .warning {
    color: rgb(var(--yellow-9));
    background: rgb(var(--yellow-2));
    outline: 1.5px solid rgb(var(--yellow-4));
  }

  .stop {
    color: rgb(var(--red-9));
    background: rgb(var(--red-2));
    outline: 1.5px solid rgb(var(--red-4));
  }

  .icon {
    display: grid;
    place-content: center;
    margin-right: 1em;
  }
</style>
