---
const { emoji, type } = Astro.props;
---

<div class={`px-4 py-0 flex ${type} note`}>
  <div>
    <p class="emoji">{emoji}</p>
  </div>
  <div>
    <slot />
  </div>
</div>

<style>
  .note {
    border-radius: 4px;
  }

  .secondary {
    /* color: #888888; */
    border: 1px solid #888888;
  }

  .technology {
    /* color: #0070f3; */
    border: 1px solid #0070f3;
  }

  .warning {
    /* color: #eaaa45; */
    border: 1px solid #eaaa45;
  }

  .emoji {
    position: relative;
    vertical-align: text-top;
    left: 0.25em;
    margin-right: 1em;
  }
</style>
