---
const { emoji, type } = Astro.props;
---

<div class={`px-4 py-0 flex ${type} note`}>
  <div>
    <p class="emoji">{emoji}</p>
  </div>
  <div>
    <slot />
  </div>
</div>

<style>
  .note {
    border-radius: 4px;
  }

  .secondary {
    color: #A3A3A3;
    background: #121212;
  }

  .technology {
    color: #68A6F8;
    background: #0d1523;
  }

  .warning {
    color: #F19E3A;
    background: #1f1300;
  }

  .emoji {
    position: relative;
    vertical-align: text-top;
    left: 0.25em;
    margin-right: 1em;
  }
</style>
