---
import { Icon } from "astro-icon";

const { prevUrl, nextUrl } = Astro.props;
---

<nav aria-label="Posts Navigation">
  {
    prevUrl && (
      <a class='left' href={prevUrl} aria-label="Newer Posts">
        <Icon name="lucide:arrow-left" height="16px" width="16px"/>
        Newer Posts
      </a>
    )
  }
  {
    nextUrl && (
      <a class="right" href={nextUrl} aria-label="Newer Posts">
        Older Posts
        <Icon name="lucide:arrow-right" height="16px" width="16px"/>
      </a>
    )
  }
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 4rem;
  }

  a {
    color: var(--text-color);
    border-color: rgba(0, 0, 0, 0);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
  }

  a:hover,
  a:focus {
    background: var(--selection-color);
  }

  a:focus {
    outline: 2px dotted var(--text-color);
  }

  .left {
    cursor: w-resize;
  }

  .right {
    margin-left: auto;
    cursor: e-resize;
  }

  .right svg {
    margin-left: 0.25rem;
  }
  
  .left svg {
    margin-right: 0.25rem;
  }
</style>
