---
import { Icon } from "astro-icon/components";

const { prevUrl, nextUrl } = Astro.props;
---

<nav
  aria-label="Posts Navigation"
  class="mx-auto mt-8 max-w-screen-md"
  id="pagination"
>
  {
    prevUrl && (
      <span class="flex">
        <a
          href={prevUrl}
          class="link group -mr-1 flex items-center gap-1 px-1 py-2 text-sm"
        >
          <Icon
            class="group-hover:animate-horizontal-bounce-left group-focus:animate-horizontal-bounce-left text-text"
            name="arrow-left"
          />
          Newer posts{" "}
        </a>
      </span>
    )
  }
  {
    nextUrl && (
      <span class="flex justify-end">
        <a
          href={nextUrl}
          class="link group -ml-1 flex items-center gap-1 px-1 py-2 text-sm"
        >
          Older posts{" "}
          <Icon
            class="text-text group-hover:animate-horizontal-bounce group-focus:animate-horizontal-bounce"
            name="arrow-right"
          />
        </a>
      </span>
    )
  }
</nav>
