---
const { prevUrl, nextUrl } = Astro.props;
---

<nav
  aria-label="Posts Navigation"
  class="mx-auto max-w-screen-md"
  id="pagination"
>
  {
    prevUrl && (
      <span class="flex">
        <a
          class="group mb-8 mt-8 flex cursor-default items-center rounded-sm border border-[#767676] bg-[#EFEFEF] px-[6px] py-[1px] font-sans text-sm !text-black !no-underline hover:bg-[#e1e1e1] active:bg-[#d9d9d9]"
          href={prevUrl}
          aria-label="Previous posts"
        >
          Previous
        </a>
      </span>
    )
  }
  {
    nextUrl && (
      <span class="flex justify-end">
        <a
          class="group mb-8 mt-8 flex cursor-default items-center rounded-sm border border-[#767676] bg-[#EFEFEF] px-[6px] py-[1px] font-sans text-sm !text-black !no-underline hover:bg-[#e1e1e1] active:bg-[#d9d9d9]"
          href={nextUrl}
          aria-label="Next posts"
        >
          Next
        </a>
      </span>
    )
  }
</nav>
