---
import { Icon } from "astro-icon/components";

const { prevUrl, nextUrl } = Astro.props;
---

<nav
  aria-label="Posts Navigation"
  class="mx-auto max-w-screen-md mt-8"
  id="pagination"
>
  {
    prevUrl && (
      <span class="flex">
        <a
        class="group flex items-center gap-1 py-1 font-mono text-gray-6 no-underline hover:text-foreground focus:text-foreground"
          href={prevUrl}
          aria-label="newer posts"
        >
        <Icon name="arrow-left" />
          newer posts
        </a>
      </span>
    )
  }
  {
    nextUrl && (
      <span class="flex justify-end">
        <a
        class="group flex items-center gap-1 py-1 font-mono text-gray-6 no-underline hover:text-foreground focus:text-foreground"
          href={nextUrl}
          aria-label="newer posts">
          older posts
          <Icon name="arrow-right" />
        </a>
      </span>
    )
  }
</nav>
