---
import { Icon } from "astro-icon/components";

const { prevUrl, nextUrl } = Astro.props;
---

<nav
  id="pagination"
  aria-label="Posts Navigation"
  class="mx-auto mt-8 flex justify-between"
>
  {
    prevUrl ? (
      <span class="flex">
        <a
          href={prevUrl}
          class="flex h-[40px] cursor-default items-center gap-1 rounded-lg bg-white px-3 py-2 text-base/6 text-text no-underline shadow-sm ring-1 ring-inset ring-neutral-950/15 hover:ring-neutral-950/25 focus-visible:ring-neutral-950/25 dark:bg-white/5 dark:ring-white/15 dark:hover:ring-white/25 dark:focus-visible:ring-white/25 sm:h-[32px] sm:py-1"
        >
          <Icon
            name="arrow-left"
            class="text-textVariant transition-colors group-hover:text-text group-focus-visible:text-text"
          />
          Newer posts{" "}
        </a>
      </span>
    ) : (
      <div />
    )
  }
  {
    nextUrl && (
      <span class="flex justify-end">
        <a
          href={nextUrl}
          class="flex h-[40px] cursor-default items-center gap-1 rounded-lg bg-white px-3 py-2 text-base/6 text-text no-underline shadow-sm ring-1 ring-inset ring-neutral-950/15 hover:ring-neutral-950/25 focus-visible:ring-neutral-950/25 dark:bg-white/5 dark:ring-white/15 dark:hover:ring-white/25 dark:focus-visible:ring-white/25 sm:h-[32px] sm:py-1"
        >
          Older posts{" "}
          <Icon
            name="arrow-right"
            class="text-textVariant transition-colors group-hover:text-text group-focus-visible:text-text"
          />
        </a>
      </span>
    )
  }
</nav>
