---
import { formatDate, isWithinLastFortnite } from "../lib/utils";
const { date, href, title, description, last } = Astro.props;
---

<li class="-mx-3">
  <a
    class="group flex items-center justify-between gap-2 rounded-2xl p-3 text-text no-underline ring-inset ring-primary hover:bg-backgroundVariant hover:ring-1 focus:bg-backgroundVariant sm:gap-3"
    href={`/posts/${href}`}
  >
    <span>{title}</span>
    <span
      class="date no-wrap flex rounded-sm bg-backdrop p-1 font-mono text-xs text-textVariant ring-1 ring-gray-10/10 group-hover:text-text group-focus:text-text"
      >{formatDate(date, "short")}</span
    >
  </a>
</li>

<style>
  a:focus {
    outline: auto;
  }

  .date {
    white-space: nowrap !important;
  }
</style>
