---
import { formatDate } from "../lib/utils";
const { date, href, title } = Astro.props;
---

<li class="animate-down py-3">
  <p class="text-sm text-textVariant">
    {formatDate(date, "long")}
  </p>
  <a href={`/posts/${href}`} class="link">
    {title}
  </a>
</li>
