---
import { formatDate, isWithinLastFortnite } from "../lib/utils";
const { date, href, title, description, last } = Astro.props;
---

<li class="list-none font-mono hover:bg-gray-2 dark:hover:bg-gray-10">
  <a href={`/posts/${href}`}>
    <span
      class="flex items-center border-b border-gray-5 py-3 text-content dark:border-gray-9"
    >
      <span class="w-[120px] shrink-0">{formatDate(date, "short")}</span>
      <span>{title}</span>
    </span>
  </a>
</li>
