---
import { Icon } from "astro-icon/components";

const { href, title, description } = Astro.props;
---

<a href={href} class="animate-down group py-3 no-underline">
  <li
    class="-ml-3 rounded px-3 py-3 group-hover:bg-neutral-200 dark:group-hover:bg-neutral-900"
  >
    <p class="link underline">{title}</p>
    <span class="flex items-center gap-1">
      <p class="text-sm text-textVariant">
        {description}
        <Icon name="external" class="inline-flex text-text" />
      </p>
    </span>
  </li>
</a>
