---
import { Icon } from "astro-icon/components";
import ExternalLink from "./ExternalLink.astro";

const { href, title, description } = Astro.props;
---

<li class="animate-down group py-3">
  <ExternalLink href={href}>
    {title}
  </ExternalLink>
  <p class="text-sm text-textVariant">
    {description}
  </p>
</li>
