---
import { Icon } from 'astro-icon'

const darkModeColor = '#ff0080';
const lightModeColor = '#0000FF';
---

<button
  id="themeToggle"
  aria-label="Switch between light and dark mode"
>
  <Icon name="mdi:brightness-1" size="48" />
  <Icon name="mdi:brightness-2" size="48" />
</button>

<style define:vars={{ lightModeColor, darkModeColor }}>
  #themeToggle {
    cursor: pointer;
  }

  #themeToggle:hover,
  #themeToggle:focus {
    outline: 2px dotted var(--primary-color);
  }

  #themeToggle:hover svg {
    background: #e9e9e9;
    border-radius: 0.25rem;
  }

  #themeToggle:focus svg {
    background: #e9e9e9;
    border-radius: 0.25rem;
  }

  :global(.dark) #themeToggle:hover svg {
    background: #333;
    border-radius: 0.25rem;
  }

  :global(.dark) #themeToggle:focus svg {
    background: #333;
    border-radius: 0.25rem;
  }

  button {
    padding: 0 !important;
  }

  [astro-icon="mdi:brightness-2"] {
    display: none;
    transition: 0.2s;
  }
  [astro-icon="mdi:brightness-2"]:hover,
  [astro-icon="mdi:brightness-2"]:focus] {
    color: var(--darkModeColor);
  }
  [astro-icon="mdi:brightness-1"] {
    display: block;
    transition: 0.2s;
  }
  [astro-icon="mdi:brightness-1"]:hover,
  [astro-icon="mdi:brightness-1"]:focus {
    fill: var(--primary-color);
  }

  :global(.dark) [astro-icon="mdi:brightness-2"] {
    display: block;
  }
  :global(.dark) [astro-icon="mdi:brightness-1"] {
    display: none;
  }

  [astro-icon] {
        color: black;
    }

  [astro-icon="mdi:brightness-2"] {
        color: white;
        fill: white;
  }

  button:hover [astro-icon="mdi:brightness-1"] {
    fill: var(--lightModeColor);
  }

  button:focus [astro-icon="mdi:brightness-1"] {
    fill: var(--lightModeColor);
  }

  :global(.dark) button:hover [astro-icon="mdi:brightness-2"] {
    fill: var(--darkModeColor);
  }

  :global(.dark) button:focus [astro-icon="mdi:brightness-2"] {
    fill: var(--darkModeColor);
  }

  button {
    background: none !important;
    box-shadow: none !important;
    transform: none !important;
  }
</style>

<script>
  const theme = (() => {
    if (
      typeof localStorage !== 'undefined' &&
      localStorage.getItem('theme')
    ) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  window.localStorage.setItem('theme', theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle('dark');

    const isDark = element.classList.contains('dark');
    localStorage.setItem('theme', isDark ? 'dark' : 'light');
  };

  document
    .getElementById('themeToggle')
    .addEventListener('click', handleToggleClick);
  document
    .getElementById('themeToggle')
    .addEventListener('keydown', (e) => {
      if (e.key === 'Enter') {
        e.preventDefault();
        handleToggleClick();
      }
    });
</script>
