---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

const { pageTitle } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Trevor Tyler Lee's Portfolio Showcase | Web Developer from Vancouver, Canada" />
		<title>{pageTitle}</title>
	</head>
	<body>
    <div class="wrapper flow">
      <Navigation />
      <slot />
			<Footer />
    </div>
	</body>
</html>