---
import "../styles/global.css";
import "../styles/preflight.css";

import { Icon } from "astro-icon/components";
import Navigation from "../components/Navigation.astro";
import Contact from "../components/Contact.tsx";
import Footer from "@components/Footer.astro";

import TimeAgo from 'javascript-time-ago'
import en from 'javascript-time-ago/locale/en';

TimeAgo.addDefaultLocale(en);
const timeAgo = new TimeAgo('en-US');
const buildTime = new Date();
const buildTimeAgo = timeAgo.format(buildTime);

const { pageTitle, pageSlug, category, fullWidth } = Astro.props;

let onIndex = false;
if (pageTitle === "Trevor Lee | Homepage") {
  onIndex = true;
}
---

<html id="html" lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }

      window.addEventListener("DOMContentLoaded", () => {
        const checkbox = document.querySelector("#theme-toggle");
        checkbox.checked = document.documentElement.classList.contains("dark");

        const toggleTheme = () => {
          const isDark = document.documentElement.classList.toggle("dark");
          localStorage.setItem("theme", isDark ? "dark" : "light");
          checkbox.checked = isDark;
        };

        checkbox.addEventListener("change", toggleTheme);
      });
    </script>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="/og.jpg" />
    <meta name="description" content="Trevor Tyler Lee | Vancouver, Canada" />
    <title>{pageTitle}</title>
  </head>
  <body
    class=`bg-background text-gray-11 dark:bg-black dark:text-gray-1 m-auto ${fullWidth ? "" : "px-4"} m-auto max-w-[640px]`
  >
    <nav class="w-full py-4">
      <div class="flex items-center justify-between">
        <div>
          {
            !onIndex && (
              <>
                <a
                  class="flex items-center gap-1 py-1 font-mono text-gray-6 no-underline hover:text-foreground focus:text-foreground"
                  href="/"
                >
                  <Icon name="arrow-left" /> back home
                </a>
              </>
            )
          }
        </div>
        <div class="group flex items-center gap-1.5 py-1">
          <input name="theme-toggle" id="theme-toggle" type="checkbox" />
          <label
            class="font-mono text-gray-6 hover:text-foreground focus:text-foreground group-hover:text-foreground group-focus:text-foreground"
            for="theme-toggle">dark mode</label
          >
        </div>
      </div>
    </nav>
    <main>
      <slot />
    </main>
    <!-- <div class="mt-16 ring-2 ring-foreground/10 rounded-2xl py-4 px-2">
      <Contact client:load />
    </div> -->
    <Footer />
    <div class="font-mono text-xs text-gray-6 text-right pt-2 pb-4">
      last updated {buildTimeAgo}
    </div>
  </body>
</html>
